
body{background-color:rgba(0, 0, 0, 0.532);}
p{color: white;}
.heading{ text-align: center; color: gold;}
.heading2{ text-align: center; color: skyblue;}
.f1{color:greenyellow;}
.f2{color: black;}
#f3{color: red;}
.f3{color: blue;}
li{color: blue;}
thead{color:white;}
.a{text-align: center;}