
body{background-color:rgba(0, 0, 0, 0.532);}
p{color: white;}
.heading{color: gold;}
.heading2{color: skyblue;}
.f1{color:greenyellow;}
.f2{color: black;}
#f3{color: red;}
li{color: blue;}
thead{color:white;}